;(RP2040 : 125MHz)
; CLK_DIV 3.875		// 16MHz
; CLK_DIV 4.1875	// 15MHz
; CLK_DIV 4.4375	// 14MHz
; CLK_DIV 4.8125	// 13MHz
; CLK_DIV 5.1875	// 12MHz
; CLK_DIV 5.6875	// 11MHz
; CLK_DIV 6.25		// 10MHz
; CLK_DIV 6.9375	// 9MHz
; CLK_DIV 7.8125	// 8MHz
; CLK_DIV 8.9375	// 7MHz
; CLK_DIV 10.4375	// 6MHz
; CLK_DIV 12.5		// 5MHz
; CLK_DIV 15.625	// 4MHz
; CLK_DIV 20.8125	// 3MHz
; CLK_DIV 25.0		// 2.5MHz
; CLK_DIV 31.25		// 2MHz
; CLK_DIV 62.5		// 1MHz
;(RP2350 : 150MHz)
; CLK_DIV 4.6875	// 16MHz
; CLK_DIV 5.0		// 15MHz
; CLK_DIV 5.375		// 14MHz
; CLK_DIV 5.75		// 13MHz
; CLK_DIV 6.25		// 12MHz
; CLK_DIV 6.8125	// 11MHz
; CLK_DIV 7.5		// 10MHz
; CLK_DIV 8.3125	// 9MHz
; CLK_DIV 9.375		// 8MHz
; CLK_DIV 10.6875	// 7MHz
; CLK_DIV 12.5		// 6MHz
; CLK_DIV 15.0		// 5MHz
; CLK_DIV 18.75		// 4MHz
; CLK_DIV 25.0		// 3MHz
; CLK_DIV 30.0		// 2.5MHz
; CLK_DIV 37.5		// 2MHz
; CLK_DIV 75.0		// 1MHz

CLK_DIV = 7.5
